.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 6rem 0;
    overflow: hidden;

    .hero_text_wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem 6rem;

        .text_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1.125rem;

            .hero_text_heading {
                color: #141414;
                font-family: var(--sora-font);
                font-size: 4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
            }

            .hero_text {
                margin-top: -3rem;
                color: #141414;
                font-family: var(--inter-font);
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem;
            }

            .hero_cta {
                border: none;
                display: flex;
                padding: 0rem 0.5rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                border-radius: 0.5rem;
                background-color: var(--btn-color);
                cursor: pointer;

                p {
                    color: #fff;
                    font-family: var(--work-font);
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .hero_pics_wrapper {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        position: relative;

        .grid_col-1,
        .grid_col-2,
        .grid_col-3 {
            z-index: 500;
        }
        .grid_col-3 {
            margin-top: -14rem;
        }

        .grid_col-4 {
            position: absolute;
            left: 21.5rem;
            top: -3rem;
        }

        .grid_col-5 {
            position: absolute;
            top: 13.5rem;
            left: -3rem;
        }
    }
}

@media screen and (max-width: 1440px) {
    .hero {
        .hero_pics_wrapper {
            column-gap: 1rem;
            margin-left: -2rem;
        }
    }
}

@media screen and (max-width: 1330px) {
    .hero {
        .hero_pics_wrapper {
            .grid_col-1 {
                img {
                    height: 200px;
                }
            }

            .grid_col-2 {
                img {
                    width: 280px;
                }
            }

            .grid_col-3 {
                img {
                    margin-top: 2rem;
                    height: 200px;
                }
            }

            .grid_col-4 {
                img {
                    width: 290px;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .hero {
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 0;

        .hero_text_wrapper {
            width: 100%;

            .text_container {
                .hero_text_heading {
                    margin-top: -0.5rem;
                }
            }
        }

        .hero_pics_wrapper {
            margin-left: 0;
            margin-right: 10rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .hero {
        .hero_text_wrapper {
            padding: 0rem 3rem;
        }
        .hero_pics_wrapper {
            margin-right: 14rem;
        }
    }
}

@media screen and (max-width: 720px) {
    .hero {
        .hero_pics_wrapper {
            width: 100%;
            margin-right: 0;
            padding: 1rem;

            .grid_col-4,
            .grid_col-5 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 624px) {
    .hero {
        .hero_pics_wrapper {
            grid-template-columns: auto;
            padding: 2rem;
            gap: 1rem;

            .grid_col-1,
            .grid_col-2,
            .grid_col-3 {
                img {
                    width: 100%;
                }
            }

            .grid_col-1{
                img{
                  height: 330px;  
                }
            }

            .grid_col-2 {
                img {
                    height: 350px;
                }
            }

            .grid_col-3 {
                margin-top: 0;

                img{
                    margin-top: 0;  
                    height: 330px;
                }
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .hero{
        .hero_text_wrapper{
            .text_container{
                .hero_text_heading{
                    font-size: 3rem;
                }
            }
        }
    }
}